<script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='949b394a07f6207cb8a8e88ba7e0c7fc01d277389c6e6f7d949de7f7723daefd';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>
= render 'partials/nav'

<span data-sumome-listbuilder-embed-id="e087cc658678dda556a629dbc3a1464883d01e859e1d1b2cde353afeab53ea35"></span>


	
    
.time
    .sovacoin
	
.footer-section
    .footer-col-one
        .footer-img
        .footer-about
            %p 
                SovaCrypto is a Panamanian cryptocurrency company specializing in creating a unique
                vehicle allowing clients to acquire and hold a multitude of different coins and tokens
                that comprise top market cap rankings across multiple exchanges and platforms around the world.
    .footer-col-two
        .footer-link-heading
            %h4 Quick Menu
        .footer-links
            %ul
                %li 
                    %a{:href=>"/"} Home
                %li 
                    %a{:href=>"/#about"} About Us
                %li
                    %a{:href=>"/contact_us"} Contact Us
				
               
    .footer-col-three
        .footer-contact-heading
            %h4 Contact Us
        .footer-contacts 
            %br
            %i.far.fa-envelope.fa-lg.icon
            %a{:href=>"/contact_us"} info@sovacrypto.com
            %br
            %br
            %i.fas.fa-map-marker-alt.fa-lg.icon
            Panama City, Panama

= render 'partials/footer'
   
