.topnav#footer
    .topnav-elem
        %i.far.fa-copyright.fa-lg.icon
        %p 2018 SovaCrypto
    .topnav-elem
        %a{:href => "https://www.facebook.com/Sova-Crypto-2025423687741315/", :target=> "blank"}
            %i.fab.fa-facebook-square.fa-lg.icon
        %a{:href => "https://twitter.com/sovacrypto", :target=> "blank"}
            %i.fab.fa-twitter-square.fa-lg.icon
        %a{:href => "https://www.instagram.com/sovacrypto/", :target=> "blank"}
            %i.fab.fa-instagram.fa-lg.icon
        %a{:href => "https://www.linkedin.com/in/sova-crypto-724717158/", :target=> "blank"}
            %i.fab.fa-linkedin.fa-lg.icon
        %a{:href => "https://www.youtube.com/channel/UCcfUa0tQJwN7UILoMuX62-A", :target=> "blank"}
            %i.fab.fa-youtube.fa-lg.icon