.jumbotron
    .jumbotron-content.text-white
        %h1.display-3
            SOVA15
            Equal Weight CryptoCurrency Index
        %p.lead_text
            Now you can partake in the whole crypto space 
            with the world's premiere equal weight cryptocurrency index. 
            %br
            %br
            %a.btn.btn-outline-light.btn-lg.jumbo-btn{:href => "#", :role => "button"}
                <i class="fab fa-bitcoin"></i> Buy ICO
            %a.btn.btn-outline-light.btn-lg.jumbo-btn{:href => "#", :role => "button"}
                <i class="far fa-file-alt"></i> View Whitepaper
            .breaker
    .jumbotron-links
        %i.fab.fa-facebook-square.fa-lg.jumbo-icon
        %i.fab.fa-twitter-square.fa-lg.jumbo-icon
        %i.fab.fa-reddit-square.fa-lg.jumbo-icon
        %i.fab.fa-github-square.fa-lg.jumbo-icon
        %i.fab.fa-medium.fa-lg.jumbo-icon
        %i.fab.fa-youtube.fa-lg.jumbo-icon
        %i.far.fa-envelope.fa-lg.jumbo-icon