:javascript
  window.addEventListener('load', () => {
    var utcTime = document.getElementsByClassName('time');
    console.log(utcTime);
    for (var i = 0; i < utcTime.length; i++) {
      var timePosted = utcTime[i].innerText;
      var timeAry = timePosted.split(' ');
      timeAry[2] = "UTC";
      var instance = timeAry.join(' ');
      var timeAgo = moment(instance).fromNow();
      console.log(timeAgo);
      document.getElementById(`${timePosted}`).innerText = timeAgo;
    }
  })

