.sideNav#sideNav
    .sideNav-title
        %h4 D A S H B O A R D
    %br
    %h6
        Main
    %a.active{:href => '#'} 
        .link-wrapper
            .link-icon
                %i.fas.fa-chart-line.fa-lg
            .sidebar-text 
                %h8 Coins & Exchanges
    %a{:href => '#'}
        .link-wrapper
            .link-icon
                %i.fab.fa-stripe-s.fa-lg
            .sidebar-text 
                %h8 SovaCrypto
    %a{:href => '#'}
        .link-wrapper
            .link-icon
                %i.far.fa-newspaper.fa-lg
            .sidebar-text 
                %h8 Crypto News
    %a{:href => '#'}
        .link-wrapper
            .link-icon
                %i.far.fa-comments.fa-lg
            .sidebar-text 
                %h8 Social Stats
    %br
    %br
    %h6 
        Account
    %a{:href => '#'} 
        .link-wrapper
            .link-icon
                %i.fas.fa-user.fa-lg
            .sidebar-text 
                %h8 My Profile
    %a{:href => '#'} 
        .link-wrapper
            .link-icon
                %i.fab.fa-ethereum.fa-lg
            .sidebar-text 
                %h8 My Wallet
    %a{:href => '#'} 
        .link-wrapper
            .link-icon
                %i.far.fa-envelope.fa-lg
            .sidebar-text 
                %h8 Support
