:javascript
    function openSideNav() {
        document.getElementById("sideNav").style.width = "35%";
    }

    function closeSideNav() {
        document.getElementById("sideNav").style.width = "0";
    }